<!-- TOC / Menu -->
<section id="table-of-contents" class="toc">
  <header>
    <h3><i class="fa fa-book"></i> Sections </h3>
  </header>
 <div id="drawer" markdown="1">
  <ul id="markdown-toc">
	  <li> <a href="/pages/ComputationalGeodynamics/NumericalMethodsPrimer/NumericalMethodsPrimer-1"> 1 - Introduction    </a> </li>
	  <li> <a href="/pages/ComputationalGeodynamics/NumericalMethodsPrimer/NumericalMethodsPrimer-2"> 2 - Mathematics     </a> </li>
	  <li> <a href="/pages/ComputationalGeodynamics/NumericalMethodsPrimer/NumericalMethodsPrimer-3"> 3 - Convection      </a> </li>
      <li> <a href="/pages/ComputationalGeodynamics/NumericalMethodsPrimer/NumericalMethodsPrimer-4"> 4 - Other Solutions </a> </li>
      <li> <a href="/pages/ComputationalGeodynamics/NumericalMethodsPrimer/NumericalMethodsPrimer-5"> 5 - Other Solutions </a> </li>
      <li> <a href="/pages/ComputationalGeodynamics/NumericalMethodsPrimer/NumericalMethodsPrimer-6"> 6 - Other Solutions </a> </li>
    </ul>
</div>
</section><!-- /#table-of-contents -->
