/* ==========================================================================
   Typography
   ========================================================================== */

/*
   Headings
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
}
h1 {
	@include font-size(24);
}
h2 {
	@include font-size(20);
}
h3 {
	@include font-size(18);
}
h4 {
	@include font-size(16);
}
h5 {
	@include font-size(14);
}
h6 {
	@include font-size(14);
}

/*
   Links
   ========================================================================== */

a {
	text-decoration: none;
	color: $link-color;
	&:visited {
		color: $linkcolorvisited;
	}
	&:hover {
		color: $linkcolorhover;
	}
	&:focus {
		outline: thin dotted;
		color: $linkcolorfocus;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/*
   Figure captions
   ========================================================================== */

figcaption {
	padding-top: 10px;
	@include font(12);
	line-height: 1.3;
	color: lighten($text-color, 40);
	font-style: italic;
	font-size-adjust: auto;
}

/*
   Feature image captions
   ========================================================================== */

.image-credit {
	@include grid(12,10);
	@include prefix(12,1);
	@include suffix(12,1);
	display: block;
	text-align: right;
	@include font(12);
	line-height: 1.3;
	font-style: italic;
	color: lighten($text-color, 30);
	@media #{$small} {
		@include grid(12,9);
		@include prefix(12,0);
		@include suffix(12,0);
	}
	@media #{$x-large} {
		@include grid(12,8.5);
	}
	a {
		color: lighten($text-color, 30);
	}
}

/*
   Notices
   ========================================================================== */

.notice {
	margin-top: 1.5em;
	padding: .5em 1em;
	text-indent: 0;
	@include font-rem(10);
	background-color: darken($body-color,5);
	border: 1px solid darken($body-color,15);
	font-style: italic;
	@include rounded(3px);
}


.fancyquote {
	margin-left: 30pt;
	margin-top: 0;
	margin-bottom: 1.5em;
	padding: .5em 1em;
	@include font-rem(10);
	// background-color: darken($body-color, 1);
	// border: 1px dashed darken($body-color, 5);
	font-style: italic;
	font-size: 14pt;
	@include rounded(3px);
}



/*
   Blockquotes
   ========================================================================== */

blockquote {
	margin-left: -28px;
	padding-left: 20px;
	border-left: 8px solid $border-color;
	font-family: $alt-font;
	font-style: italic;
}

/*
   Footnotes
   ========================================================================== */

.footnotes {
	ol, li, p {
		margin-bottom: 0;
		@include font-rem(14);
	}
}

/*
   Paragraphs
   ========================================================================== */

p {
	margin: 0 0 $indent-var;

	// sibling indentation
  @if $paragraph-indent == true {
    & + p {
			text-indent: $indent-var;
			margin-top: -($indent-var);
		}
	}
	@if $paragraph-indent == false {
      & + p {
   		   margin-top: -($indent-var)/2;
   	   }
    }
}

/*
   Code snippets
   ========================================================================== */

tt, code, kbd, samp, pre {
	font-family: $code-font;
}
p,
li {
	code {
		@include font-rem(11);
		// line-height: 1.5;
		white-space: nowrap;
		margin: 0 1px;
		padding: 0 1px;
		border: 0px solid lighten($black, 90);
		background-color: #ffffff;  // efefef
		font-weight: normal;
		@include rounded(3px);
	}
}
pre {
	@include font-rem(10);
	line-height: 1.5;
	overflow-x: auto;
}
